<!-- THIS IS HOME     NAV IN APP.COMPONENT.HTML    src/app/navbar/navbar.component.html -->

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<div class="app-container">
  <div class="text-white d-flex flex-column justify-content-center align-items-center text-center" style="background-image: url('/assets/pexels-dreamlensproduction-2450296.jpg'); height: 90vh; background-size: cover; background-position: center;">
    <h1>Explore World</h1>
    <p>Find the best deals for flights, hotels, and vacation packages</p>
    <a href="#" class="btn btn-warning mt-3">Explore Now</a>
  </div>
  </div>
 
 

  
  
